# Editor directories and files
.idea

# Package Manager
node_modules
.pnpm-debug.log*

# System
.DS_Store

# Bundle
dist
coverage
packages/puik/version.ts

# local env files
*.local

# playground test file
playground/src/App.vue
storybook-static