# Editor directories and files
.idea

# Package Manager
node_modules
.pnpm-debug.log*

# System
.DS_Store

# Bundle
dist
!packages/theme/dist
coverage
packages/puik/version.ts

# local env files
*.local

# playground test file
playground/src/App.vue
storybook-static

# Ignore the packages-tars directory
/packages-tars/