@use './common/typography.scss';

.puik-alert {
  @apply relative min-w-fit flex flex-row items-start p-4 border text-primary-800;
  &--success {
    @apply bg-green-50 border border-green;
    .puik-alert__icon {
      @apply text-green;
    }
  }
  &--warning {
    @apply bg-yellow-50 border-yellow;
    .puik-alert__icon {
      @apply text-yellow;
    }
  }
  &--danger {
    @apply bg-red-50 border-red;
    .puik-alert__icon {
      @apply text-red;
    }
  }
  &--info {
    @apply bg-blue-50 border-blue;
    .puik-alert__icon {
      @apply text-blue;
    }
  }
  &--no-borders {
    @apply border-0;
  }
  &__container {
    @apply flex flex-col md:flex-row md:items-start w-full;
  }
  &__content {
    @apply flex flex-row flex-grow;
  }
  &__text {
    @apply mx-4;
  }
  &__title {
    @extend .puik-h3;
    @apply font-semibold mb-1;
  }
  &__description {
    @extend .puik-body-default;
  }
  &__button {
    @apply text-sm px-4 py-3 mt-2 ml-9 md:m-0 h-auto;
  }
  &__icon {
    @apply mt-0.5 flex-shrink-0;
  }
  &__close {
    @apply ml-4 cursor-pointer leading-none;
  }
}
