@use './common/typography.scss';

.puik-button {
  @extend .puik-text-button-default;
  @apply transition cursor-pointer py-2 px-4 gap-2 inline-flex items-center justify-center align-middle;

  &--sm {
    @extend .puik-text-button-small;
    @apply py-1 px-2 h-7;
  }

  &--md {
    @apply h-9;
  }

  &--lg {
    @extend .puik-text-button-large;
    @apply py-3.5 px-4 gap-3 h-12;
  }

  &--fluid {
    @apply w-full;
  }

  &:focus-visible {
    @apply outline-none ring ring-offset-2 ring-blue;
  }

  &:disabled,
  &--disabled {
    @apply pointer-events-none cursor-default;
  }

  &--primary {
    @apply bg-primary-800 text-white;
    &:hover {
      @apply bg-primary-700;
    }
    &:active {
      @apply bg-primary-600;
    }
    &:disabled,
    &.puik-button--disabled {
      @apply bg-primary-500;
    }
  }
  &--primary-reverse {
    @apply bg-white text-black;
    &:hover {
      @apply bg-primary-200;
    }
    &:active {
      @apply bg-primary-400;
    }
    &:disabled,
    &.puik-button--disabled {
      @apply bg-primary-500 text-white;
    }
  }

  &--secondary {
    @apply bg-white text-primary border border-primary;
    &:hover {
      @apply bg-primary-300;
    }
    &:active {
      @apply bg-primary-400;
    }
    &:disabled,
    &.puik-button--disabled {
      @apply bg-primary-200 text-primary-500 border-primary-400;
    }
  }
  &--secondary-reverse {
    @apply bg-transparent text-white border border-white;
    &:hover {
      @apply bg-primary-600;
    }
    &:active {
      @apply bg-primary-700;
    }
    &:disabled,
    &.puik-button--disabled {
      @apply bg-primary-200 text-primary-500 border-primary-400;
    }
  }

  &--tertiary {
    @apply bg-primary-400 text-primary;
    &:hover {
      @apply bg-primary-300;
    }
    &:active {
      @apply bg-primary-200;
    }
    &:disabled,
    &.puik-button--disabled {
      @apply bg-primary-200 text-primary-500;
    }
  }

  &--destructive {
    @apply bg-red text-white;
    &:hover {
      @apply bg-red-300;
    }
    &:active {
      @apply bg-red-700;
    }
    &:disabled,
    &.puik-button--disabled {
      @apply bg-red-100;
    }
  }

  &--text {
    @apply text-primary;
    &:hover {
      @apply bg-primary-200;
    }
    &:active {
      @apply bg-primary-300;
    }
    &:disabled,
    &.puik-button--disabled {
      @apply text-primary-500;
    }
  }
  &--text-reverse {
    @apply text-white;
    &:hover {
      @apply text-primary;
      @apply bg-primary-300;
    }
    &:active {
      @apply bg-primary-400;
    }
    &:disabled,
    &.puik-button--disabled {
      @apply text-primary-500;
    }
  }

  &--info {
    @apply text-primary bg-blue-50 border border-blue;
    &:hover {
      @apply bg-blue-100;
    }
    &:disabled,
    &--disabled {
      @apply border-blue-300 text-white;
    }
    &:active {
      @apply bg-blue-300;
    }
  }

  &--danger {
    @apply text-primary bg-red-50 border border-red;
    &:hover {
      @apply bg-red-100;
    }
    &:disabled,
    &--disabled {
      @apply border-red-300 text-white;
    }
    &:active {
      @apply bg-red-300;
    }
  }

  &--success {
    @apply text-primary bg-green-50 border border-green;
    &:hover {
      @apply bg-green-100;
    }
    &:disabled,
    &--disabled {
      @apply border-green-100 text-white;
    }
    &:active {
      @apply bg-green-300;
    }
  }

  &--warning {
    @apply text-primary bg-yellow-50 border border-yellow;
    &:hover {
      @apply bg-yellow-100;
    }
    &:disabled,
    &--disabled {
      @apply border-yellow-100 text-white;
    }
    &:active {
      @apply bg-yellow-300;
    }
  }

  &__left-icon,
  &__right-icon {
    @apply font-materialIcons align-middle;
  }
}
