.puik-button-group {
  .puik-button {
    @apply border border-light-blue-default-border;
    .puik-button__left-icon {
      margin-right: 0;
    }
    &:first-of-type {
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-of-type {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
    & {
      border-radius: 0;
    }
  }
}
