@use './common/typography.scss';

.puik-button {
  @extend .puik-text-button-default;
  @apply rounded transition cursor-pointer py-3 px-4;

  &--sm {
    @extend .puik-text-button-small;
    @apply py-1 px-4;
    .puik-button__left-icon {
      @apply mr-2 text-xs;
    }
    .puik-button__right-icon {
      @apply ml-2 text-xs;
    }
  }

  &--md {
    .puik-button__left-icon {
      @apply mr-2;
    }
    .puik-button__right-icon {
      @apply ml-2;
    }
  }

  &--lg {
    @extend .puik-text-button-large;
    @apply py-3 px-6;
    .puik-button__left-icon {
      @apply mr-3;
    }
    .puik-button__right-icon {
      @apply ml-3;
    }
  }

  &--fluid {
    @apply w-full;
  }

  &:focus {
    @apply outline-none ring ring-offset-2 ring-focus-main;
  }

  &:disabled,
  &--disabled {
    @apply pointer-events-none cursor-default;
  }

  &--primary {
    @apply bg-primary-purple-500 text-white;
    &:hover {
      @apply bg-primary-purple-700;
    }
    &:active {
      @apply bg-primary-purple-900;
    }
    &:disabled,
    &.puik-button--disabled {
      @apply bg-purple-100;
    }
  }

  &--destructive {
    @apply bg-accentuation-destructive-500 text-white;
    &:hover {
      @apply bg-accentuation-destructive-700;
    }
    &:active {
      @apply bg-accentuation-destructive-900;
    }
    &:disabled,
    &.puik-button--disabled {
      @apply bg-accentuation-destructive-100;
    }
  }

  &--secondary {
    @apply bg-primary-purple-50 text-primary-purple-500;
    &:hover {
      @apply bg-primary-purple-100;
    }
    &:active {
      @apply bg-primary-purple-200;
    }
    &:disabled,
    &.puik-button--disabled {
      @apply bg-primary-purple-50 text-primary-purple-100;
    }
  }

  &--tertiary {
    @apply text-font border border-light-blue-default-border;
    &:hover {
      @apply bg-font-50;
    }
    &:active {
      @apply bg-font-100;
    }
    &:disabled,
    &.puik-button--disabled {
      @apply text-font-100 border-font-100;
    }
  }

  &--text {
    @apply text-font;
    &:hover {
      @apply bg-font-50;
    }
    &:active {
      @apply bg-font-100;
    }
    &:disabled,
    &.puik-button--disabled {
      @apply text-font-100;
    }
  }

  @mixin alert-banner-button-variant($color) {
    @apply bg-accentuation-#{$color}-50 border-accentuation-#{$color}-500;
    @apply text-gray-900 border;

    &:hover {
      @apply bg-accentuation-#{$color}-100;
    }

    &:active {
      @apply bg-accentuation-#{$color}-200;
    }

    &:disabled,
    &--disabled {
      @apply border-accentuation-#{$color}-200 text-white;
    }
  }

  &--info {
    @include alert-banner-button-variant('info');
  }

  &--success {
    @include alert-banner-button-variant('success');
  }

  &--warning {
    @include alert-banner-button-variant('warning');
  }

  &--error {
    @include alert-banner-button-variant('destructive');
  }

  &__left-icon,
  &__right-icon {
    @apply font-materialIcons align-middle leading-none text-base;
  }
}
