.puik-checkbox {
  @apply flex items-center;
  $baseClass: &;
  &__input {
    @apply appearance-none
      grid place-content-center
      h-5 w-5
      cursor-pointer
      rounded-sm border-2 border-primary
      before:font-materialIcons before:text-white before:text-xl
      focus:outline focus:outline-2 focus:outline-offset-1 focus:outline-blue
      checked:bg-primary checked:border-none
      indeterminate:bg-primary indeterminate:border-none
      disabled:border-primary-400 disabled:checked:bg-primary-400 disabled:indeterminate:bg-primary-400 disabled:cursor-default;

    &:indeterminate:before {
      content: '\f108';
    }

    &:checked:before {
      content: '\e876';
    }

    &:disabled + #{$baseClass}__label {
      @apply text-primary-400 cursor-default;
    }
  }
  &__label {
    @apply text-base lg:text-sm -tracking-[0.015625em] font-secondary text-primary-800
      cursor-pointer
      ml-3;
  }
}
