.puik-checkbox {
  @apply flex items-center;
  $baseClass: &;
  &__input {
    @apply appearance-none
      grid place-content-center
      h-5 w-5
      cursor-pointer
      rounded-sm border-2 border-font-500
      before:font-materialIcons before:text-white before:text-xl
      focus:outline focus:outline-2 focus:outline-offset-1 focus:outline-focus-main
      checked:bg-primary-500 checked:border-none
      indeterminate:bg-primary-500 indeterminate:border-none
      disabled:border-light-blue-default-border disabled:checked:bg-light-blue-default-border disabled:indeterminate:bg-light-blue-default-border disabled:cursor-default;

    &:indeterminate:before {
      content: '\f108';
    }

    &:checked:before {
      content: '\e876';
    }

    &:disabled + #{$baseClass}__label {
      @apply text-light-blue-default-border cursor-default;
    }
  }
  &__label {
    @apply text-base lg:text-sm -tracking-[0.015625em] font-secondary text-font
      cursor-pointer
      ml-3;
  }
}
