.puik-file-upload {
  @apply text-sm text-gray-900;

  &__dropzone {
    @apply relative border border-dashed rounded cursor-pointer border-light-blue-default-border;
  }
  &__dropzone--drag-over,
  &__dropzone:hover {
    @apply border-primary-purple-500;
  }
  &__label {
    @apply flex items-center justify-center w-full h-16 font-bold;
  }
  &__icon {
    @apply h-6 mr-2 text-font-secondary;
  }
  &__select {
    @apply rounded text-primary-purple-500;
  }
  &__input {
    @apply absolute top-0 w-full h-full opacity-0 cursor-pointer pointer-events-auto;
  }
  &__input:focus + &__label &__select,
  &__input:hover + &__label &__select {
    @apply underline;
  }
  &__input:focus + &__label &__select {
    @apply outline;
  }
  &__items {
    @apply flex flex-wrap justify-center gap-4 sm:justify-start;

    &--full {
      @apply mt-3 px-4 pb-5;
    }
  }
}

.puik-file-upload-item {
  @apply relative w-[166px] h-[158px] border border-light-blue-default-border rounded text-center flex justify-between flex-col items-center pointer-events-none;

  &__doc-icon {
    @apply text-font-500;
  }

  &__loading-icon {
    @apply text-font-100;
  }

  &__img {
    @apply w-full h-[120px] object-cover;
  }

  &__footer {
    @apply flex justify-between flex-col w-full px-2;
  }
}

.puik-file-upload-item-footer {
  &__name {
    @apply py-2 text-center whitespace-nowrap text-ellipsis overflow-hidden w-full pointer-events-auto;
    &:hover {
      background-color: red;
      text-overflow: initial;
      overflow: visible;
    }
  }

  &__close-btn {
    @apply pointer-events-auto absolute top-0 -translate-y-1/2 translate-x-1/2 right-0 leading-[0px] rounded focus-visible:outline-focus-main focus-visible:ring-offset-[-1px] focus-visible:rounded bg-white border border-white text-font-500 hover:text-font-700;
  }
}
