.puik-input {
  @apply flex flex-col;
  &__wrapper {
    @apply flex flex-row border border-border-main rounded font-secondary transition-colors text-font-main overflow-hidden;
    &:hover {
      @apply border-primary-purple-500;
    }
    &--focus {
      @apply border-primary-purple-500 ring ring-focus-main;
    }
    &--success {
      @apply border-accentuation-success-500;
    }
    &--error {
      @apply border-accentuation-destructive-500;
    }
    &--disabled {
      @apply bg-background-grey text-font-disabled hover:border-border-main cursor-not-allowed;
    }
  }
  &__field {
    @apply w-full py-2 outline-none placeholder:text-font-500 px-3 disabled:placeholder:text-font-500 disabled:cursor-not-allowed;
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 50px #e9e6f8 inset;
    }
    &[type='number'] {
      -moz-appearance: textfield;
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        @apply appearance-none;
      }
    }
    .puik-input__prepend ~ & {
      @apply pl-0;
    }
  }
  &__hint {
    @apply flex text-xs text-font-500 font-secondary font-normal mt-1;
    &__error {
      @apply flex text-red-500;
      &__icon {
        @apply font-materialIcons mr-1;
      }
    }
  }
  &__reveal-password {
    @apply flex items-center font-materialIcons text-font-500 cursor-pointer select-none pl-3 pr-2;
  }
  &__prepend {
    @apply flex items-center text-font-500 font-secondary pl-3 pr-2;
  }
  &__append {
    @apply flex items-center text-font-500 font-secondary pr-3 pl-2;
  }
  &__controls {
    @apply cursor-pointer flex flex-col items-center space-y-0.5 py-0.5 select-none;
    &__increment,
    &__decrement {
      @apply w-6 bg-background-grey flex flex-1 items-center justify-center rounded outline-none focus:ring focus:ring-focus-main disabled:bg-white;
      &__icon {
        @apply text-xs font-materialIcons text-font-500 disabled:text-font-disabled;
      }
    }
  }
}
