.puik-label {
  @apply font-secondary font-bold text-sm text-font-main;
  &--required {
    @apply text-accentuation-destructive-500 ml-1;
  }
  &--optional {
    @apply text-font-500 font-normal text-xs ml-1;
  }
}
