@use './common/typography.scss';
.puik-label {
  @extend .puik-body-default-bold;
  @apply text-primary-800;
  &--required {
    @apply text-red ml-1;
  }
  &--optional {
    @extend .puik-body-small;
    @apply text-primary-700 font-normal ml-1;
  }
}
