@use './common/typography.scss';

.puik-link {
  @extend .puik-body-default-bold;
  @apply text-blue transition m-0.5 p-0.5 decoration-1;
  &:hover {
    @apply underline text-blue-700 cursor-pointer;
  }
  &:focus-visible {
    @apply underline outline-none ring-2 ring-blue;
  }
  &:active {
    @apply underline;
  }
  &:visited {
    @apply text-purple-700;
  }
  &[target='_blank'] {
    &:after {
      content: 'open_in_new';
      @apply font-materialIcons ml-1.5 inline-block align-text-top leading-[1em];
    }
  }
  &--sm {
    @extend .puik-body-small-bold;
  }
  &--md {
    @extend .puik-body-default-bold;
  }
  &--lg {
    @extend .puik-body-large-bold;
  }
}
