.puik-modal {
  position: relative;
  margin: auto;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 5px;
  background-color: white;

  &_header {
    display: flex;
    justify-content: space-between;
  }

  &_title {
    font-size: 1.5rem;
  }

  &_close {
    cursor: pointer;
    font-size: 1rem;
  }
}
