.puik-option {
  @apply relative cursor-default select-none py-2 px-2 text-primary-800 transition-colors;
  &--selected {
    @apply bg-white text-primary-500;
  }
  &:hover:not(&--disabled, &--selected) {
    @apply bg-primary-200 text-primary-800;
  }
  &--active:not(&--disabled, &--selected, &:hover) {
    @apply ring ring-blue ring-inset rounded-lg;
  }
  &:active:not(&--disabled) {
    @apply bg-white;
  }
  &--disabled {
    @apply bg-white text-primary-300 pointer-events-none;
  }
  &__label {
    @apply font-secondary font-normal block truncate;
  }
  &__selected-icon {
    @apply font-materialIcons absolute inset-y-0 right-0 flex items-center text-primary-500 w-5 mr-3;
  }
}
