@use './common/typography.scss';
.puik-pagination {
  @apply px-2 flex flex-row items-center w-max;
  &__label {
    @extend .puik-body-default;
    @apply text-primary-700 mx-6 text-sm;
  }
  &__content {
    @apply flex flex-row items-center;
  }
  &__button {
    @apply mx-2;
  }
  .puik-button__left-icon {
    @apply ml-0;
  }
  .puik-button__right-icon {
    @apply mr-0;
  }
  &--mobile,
  &--small,
  &--medium {
    .puik-pagination__previous-button {
      @apply rounded-full p-2;
    }
    .puik-pagination__next-button {
      @apply rounded-full p-2;
    }
  }
  &--medium {
    .puik-pagination__pager-separator {
      @apply text-primary-500;
    }
    .puik-pagination__pager {
      @apply flex flex-row items-baseline;
      &-item {
        .puik-button {
          @apply rounded-full px-3.5 font-medium;
        }
      }
    }
  }
  &--large {
    .puik-pagination__jumper {
      @apply flex flex-row items-center mx-2;
      &-description {
        @extend .puik-body-default;
        @apply text-primary-700 mx-2 text-sm;
      }
      .puik-pagination__select {
        @apply mx-2 w-[100px];
      }
      .puik-select__wrapper {
        @apply mt-0;
      }
    }
    .puik-pagination__select {
      @apply mr-2;
    }
  }
  &--loader {
    @apply flex flex-col;
    .puik-pagination__label {
      @extend .puik-body-default;
      @apply mx-0 mb-2 text-sm;
    }
  }
}
