@use './common/variables.scss';
@use './common/typography.scss';

.puik-progress-stepper {
  @apply flex flex-row;
  &-step {
    @apply relative;
    &::before {
      @apply bg-primary-400;
      content: '';
      position: absolute;
      display: block;
      top: 14px;
      left: 0;
      width: 100%;
      height: 1px;
    }
    &__button {
      @apply z-10;
    }
  }
  &-step:first-child {
    &::before {
      left: 50%;
      width: 50%;
    }
  }
  &-step:last-child {
    &::before {
      left: 0;
      width: 50%;
    }
  }
}
