.puik-snackbar-root {
 @apply text-white p-4 flex space-x-2 items-center;
 &--default{
  @apply bg-primary;
 }
 &--success{
  @apply bg-green;
 }
 &--danger{
  @apply bg-red;
 }
}
.puik-snackbar-title {
 @apply grow font-medium pr-5;
}
.puik-snackbar-action {
}

/* styles.css */
.puik-snackbar-root[data-swipe='move'] {
  transform: translateX(var(--radix-toast-swipe-move-x));
}
.puik-snackbar-root[data-swipe='cancel'] {
  transform: translateX(0);
  transition: transform 200ms ease-out;
}
.puik-snackbar-root[data-swipe='end'] {
  animation: slideRight 100ms ease-out;
}

@keyframes slideRight {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }
  to {
    transform: translateX(100%);
  }
}