@reference './theme.css';

.puik-carousel__indicators {
  @apply flex justify-center mt-4;
}

.puik-carousel__indicator {
  @apply flex justify-center items-center w-6 h-6 p-0 border-none bg-transparent cursor-pointer;
}

.puik-carousel__indicator-dot {
  @apply w-3 h-3 rounded-full bg-primary-500 transition-colors block;
}

.puik-carousel__indicator-dot.puik-carousel__indicator-dot--active {
  @apply outline-2 outline-primary-800;
}

.puik-carousel__indicator-dot.puik-carousel__indicator-dot--active--blue {
  @apply bg-ocean-blue-500;
}

.puik-carousel__indicator-dot.puik-carousel__indicator-dot--active--purple {
  @apply bg-purple-500;
}

.puik-carousel__indicator-dot.puik-carousel__indicator-dot--active--amber {
  @apply bg-amber-500;
}

.puik-carousel__indicator-dot.puik-carousel__indicator-dot--active--green {
  @apply bg-green-100;
}