@use './common/typography.scss';

.puik-select {
  @extend .puik-body-default;
  &__multiple-input {
    @apply min-h-[42px] cursor-default;
  }
  &__chip-container {
    @apply p-2 flex space-x-1 ring-1 ring-black ring-opacity-5
    focus-visible:outline-none sm:text-sm overflow-x-hidden;
  }
  &__options-container {
    @apply absolute w-full bg-white text-base shadow-lg ring-1 ring-black ring-opacity-5
    focus-visible:outline-none sm:text-sm overflow-x-hidden;
    top: calc(100% + 3px);
  }
  &__select-all {
    @apply flex relative cursor-default select-none p-2 text-primary-800 transition-colors;
    &--selected {
      @apply bg-primary-300;
    }
    &:hover:not(&--disabled, &--selected) {
      @apply bg-primary-200 text-primary-800;
    }
    &--active:not(&--disabled, &:hover) {
      @apply ring ring-blue ring-inset rounded-lg;
    }
    &:active:not(&--disabled) {
      @apply bg-white;
    }
    &--disabled {
      @apply bg-white text-primary-300 pointer-events-none;
    }
    &__selected-icon {
      @apply font-materialIcons inset-y-0 right-0 flex items-center w-5 ml-2;
    }
  }
  label {
    @apply font-primary font-normal block truncate;
  }
}
