@use './common/typography.scss';

.puik-snackbar-root {
 @apply text-white p-4 flex items-center justify-between space-x-2;
 &--default{
   @apply bg-primary;
  }
  &--success{
    @apply bg-green;
  }
  &--danger{
    @apply bg-red;
  }
}
.puik-snackbar-message {
  @apply grow;
}
.puik-snackbar-title {
  @extend .puik-body-default-bold;
  @apply pb-2;
}
.puik-snackbar-description {
  @extend .puik-body-default;
}
.puik-snackbar-action {
  @apply self-start;
}
.puik-snackbar-close {
  @apply self-start py-2;
}
.puik-snackbar-root[data-swipe='move'] {
  transform: translateX(var(--radix-toast-swipe-move-x));
}
.puik-snackbar-root[data-swipe='cancel'] {
  transform: translateX(0);
  transition: transform 200ms ease-out;
}
.puik-snackbar-root[data-swipe='end'] {
  animation: slideRight 100ms ease-out;
}
@keyframes slideRight {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }
  to {
    transform: translateX(100%);
  }
}