@use 'typography.scss';

.puik-menu-item {
  @extend .puik-body-default;
  @apply flex text-left;

  .puik-button {
    @extend .puik-body-default;
    @apply font-normal p-2 w-full flex items-center justify-start z-10;

    &__right-icon {
      @apply ml-auto;
    }

    &--destructive {
      &:disabled {
        @apply text-red-100;
      }
      &:hover {
        @apply bg-red-50;
      }
      &:active {
        @apply bg-red-100;
      }
      @apply bg-white text-red-500 hover:bg-primary-200;
    }
  }
}
