@use './common/typography.scss';

.puik-snackbar-root {
 @apply text-white p-4 flex items-center justify-between space-x-2;
 &--default{
   @apply bg-primary;
  }
  &--success{
    @apply bg-green;
  }
  &--danger{
    @apply bg-red;
  }
}
.puik-snackbar-message {
  @apply grow;
}
.puik-snackbar-title {
  @extend .puik-body-large-medium;
  @apply pb-2;
}
.puik-snackbar-description {
  @extend .puik-body-default;
}
.puik-snackbar-action {
  @apply self-start;
}
.puik-snackbar-close {
  @apply self-start py-2;
}

.puik-snackbar-root--swipe-right[data-swipe='move'] {
  transform: translateX(var(--radix-toast-swipe-move-x));
}
.puik-snackbar-root--swipe-left[data-swipe='move'] {
  transform: translateX(var(--radix-toast-swipe-move-x));
}
.puik-snackbar-root--swipe-up[data-swipe='move'] {
  transform: translateY(var(--radix-toast-swipe-move-y));
}
.puik-snackbar-root--swipe-down[data-swipe='move'] {
  transform: translateY(var(--radix-toast-swipe-move-y));
}

.puik-snackbar-root--swipe-right[data-swipe='end'] {
  animation: slideRight 100ms ease-out;
}
.puik-snackbar-root--swipe-left[data-swipe='end'] {
  animation: slideLeft 100ms ease-out;
}
.puik-snackbar-root--swipe-up[data-swipe='end'] {
  animation: slideUp 100ms ease-out;
}
.puik-snackbar-root--swipe-down[data-swipe='end'] {
  animation: slideDown 100ms ease-out;
}

.puik-snackbar-root[data-swipe='cancel'] {
  transform: translate(0);
  transition: transform 200ms ease-out;
}

@keyframes slideRight {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes slideLeft {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes slideUp {
  from {
    transform: translateY(var(--radix-toast-swipe-end-y));
  }
  to {
    transform: translateY(-100%);
  }
}
@keyframes slideDown{
  from {
    transform: translateY(var(--radix-toast-swipe-end-y));
  }
  to {
    transform: translateY(100%);
  }
}