@use 'typography.scss';

.puik-sidebar-item {
  @extend .puik-body-default;
  @apply w-full border-none;

  &--active {
    .puik-button--text {
      @apply text-blue-700 font-bold;
    }
  }
  &--active.puik-button--text {
    @apply text-blue-700 font-bold bg-primary-200;
  }

  &__button {
    @apply px-2 py-4 sm:py-2 justify-start font-normal text-left;
    height: unset;

    &:hover {
      @apply bg-primary-300;
    }
  }

  &--focus {
    @apply bg-primary-300;
  }
}
