@use './common/variables.scss';
@use './common/typography.scss';

.puik-skeleton-loader {
  @apply rounded w-full text-primary-500 text-2xl;

  background: linear-gradient(
    90deg,
    theme('colors.primary.400') 40%,
    theme('colors.primary.300') 50%,
    theme('colors.primary.400') 60%
  );
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 2000ms loading ease-in-out infinite;

  @keyframes loading {
    100% {
      background-position-x: -20%;
    }
  }

  &--h1 {
    @apply h-[42px];
  }
  &--h2 {
    @apply h-[32px];
  }
  &--h3 {
    @apply h-[30px];
  }
  &--h4 {
    @apply h-[26px];
  }
  &--h5 {
    @apply h-[22px];
  }
  &--h6 {
    @apply h-[20px];
  }
  &--tw-text-small {
    @apply h-[18px];
  }
  &--text-medium {
    @apply h-[20px];
  }
  &--text-large {
    @apply h-[22px];
  }
  &--badge {
    @apply h-[24px] w-[64px] rounded-full;
  }
  &--tag {
    @apply h-[22px] w-[64px];
  }
  &--mega-jumbotron {
    @apply h-[116px];
  }
  &--jumbotron {
    @apply h-[58px];
  }
  &--image {
    @apply h-[168px] w-[248px] flex justify-center items-center;
    &::before {
      content: '\e410';
    }
  }
  &--video {
    @apply h-[168px] w-[248px] flex justify-center items-center;
    &::before {
      content: '\e04b';
    }
  }
  &--graph {
    @apply h-[168px] w-[248px] flex justify-center items-center;
    &::before {
      content: '\e01d';
    }
  }
}
