.puik-snackbar {
  @apply w-full md:w-auto fixed flex text-white p-4 transition-all duration-300 z-50 shadow-md left-[50%] translate-x-[-50%] text-sm;

  &--default {
    @apply bg-primary-800;
  }

  &--danger {
    @apply bg-red-500;
  }

  &__text {
    @apply font-primary flex-grow;
  }

  &__action {
    @apply font-primary font-semibold hover:cursor-pointer ml-6;
  }

  &__close-button {
    @apply font-materialIcons ml-6 cursor-pointer;
  }

  &__transition {
    &--enter-from {
      @apply translate-y-full;
    }
    &--leave-to {
      @apply opacity-0;
    }
  }
}
