@use './common/typography.scss';

.puik-spinner-loader {
  &__container {
    @apply flex flex-col;
  }

  &--spinner {
    @extend .puik-body-default;
    @apply inline-block w-5 h-5 text-white bg-white
    border-2 border-solid rounded-3xl border-r-primary-800 border-b-primary-800
    border-t-primary-200 border-l-primary-200;
    animation: spin 2s linear infinite;
  }

  &--sm {
    @apply text-xs leading-5 w-4 h-4;
    &-text {
      @apply text-xs leading-5;
    }
  }

  &--lg {
    @apply text-base leading-[1.375rem] w-8 h-8;
    &-text {
      @apply text-base leading-[1.375rem];
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
