@use './common/typography.scss';

.puik-tab-navigation__title {
  @apply relative  min-h-full p-2 flex items-center cursor-pointer puik-body-default-bold;
  flex: 0 1 135px;
  gap: 8px;
  white-space: nowrap;
  border-bottom: 1px solid #dce1e3;
  &:focus:not(:hover) {
    @apply bg-primary-400;
    outline: none;
  }
  &:hover {
    @apply bg-primary-300;
  }
  &--selected {
    &::before {
      @apply bg-black;
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      border-radius: 4px 4px 0 0;
    }
  }
  &--disabled {
    @apply text-primary-600 bg-primary-200;
  }
}
