@use './common/typography.scss';
.puik-table {
  @extend .puik-body-default;
  @apply inline-table border-y-[1px] bg-white font-normal;
  &__container {
    @apply max-w-full overflow-x-auto;
  }
  &--full-width {
    @apply w-full;
  }

  @mixin puik-table-item() {
    @apply p-4;
    &--sm {
      @apply w-[112px] min-w-[112px];
    }
    &--md {
      @apply w-[240px] min-w-[240px];
    }
    &--lg {
      @apply w-[480px] min-w-[480px];
    }
    &--selection {
      &__checkbox,
      > .puik-checkbox {
        .puik-checkbox__label {
          @apply sr-only;
        }
      }
    }
  }

  @mixin puik-table-text-align() {
    &--left {
      @apply text-left;
    }
    &--center {
      @apply text-center;
    }
    &--right {
      @apply text-right;
    }
  }

  &__head,
  > thead {
    &__row,
    > tr {
      &__item,
      > th {
        @extend .puik-body-small;
        @apply font-normal uppercase text-primary-600;
        @include puik-table-item();
        @include puik-table-text-align();
      }
    }
  }
  &__body,
  > tbody {
    &__row,
    > tr {
      @apply border-t-[1px];
      &:hover {
        @apply bg-primary-200;
      }
      &__item,
      > td {
        @extend .puik-body-default;
        @apply text-primary-800;
        @include puik-table-item();
        @include puik-table-text-align();
      }
    }
  }
  .puik-table__head__row__item--sticky,
  .puik-table__body__row__item--sticky {
    @apply sticky bg-white;
    &::before {
      @apply content-[''] block absolute top-0 bottom-0 w-1.5 bg-white;
    }
  }
  tr .puik-table__head__row__item--sticky:first-child,
  tr .puik-table__body__row__item--sticky:first-child {
    @apply -left-px;
    &::before {
      @apply right-0 shadow-[4px_0_7px_-1px_rgba(29,29,27,0.1)];
    }
  }
  tr .puik-table__head__row__item--sticky:last-child,
  tr .puik-table__body__row__item--sticky:last-child {
    @apply -right-px;
    &::before {
      @apply left-0 shadow-[-4px_0_7px_-1px_rgba(29,29,27,0.1)];
    }
  }
}
