@use './common/typography.scss';
.puik-textarea {
  @apply flex flex-col relative;
  &__character-count {
    @extend .puik-body-small;
    @apply absolute right-0 -bottom-5 text-primary-700;

    &--error {
      @apply text-red;
    }
  }
  &__wrapper {
    @apply flex flex-row border border-primary-400 font-primary transition-colors text-primary overflow-hidden;
    &:hover {
      @apply border-primary;
    }
    &--focus {
      @apply border-primary ring ring-blue;
    }
    &--error {
      @apply border-red bg-red-50;
    }
    &--disabled {
      @apply bg-white hover:border-primary-400 cursor-not-allowed;
    }
    &--readonly {
      @apply bg-primary-200 cursor-default border-none;
    }
  }
  &__field {
    @extend .puik-body-default;
    @apply bg-transparent w-full py-2 outline-none px-3 resize-none
      text-primary
      disabled:text-primary-500 disabled:cursor-not-allowed
      placeholder:text-primary-600 placeholder:disabled:text-primary-500;
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 50px theme('colors.ocean-blue.50') inset;
    }
  }
  &__hint {
    @extend .puik-body-small;
    @apply flex text-primary font-normal mt-1 leading-4;
    &__error {
      @apply flex text-red font-primary font-normal;
      &__text {
        @apply mt-0.5;
      }
      &__icon {
        @apply mr-1;
      }
    }
  }
}
