:root {
  --puik-breakpoint-xs: theme('screens.xs');
  --puik-breakpoint-sm: theme('screens.sm');
  --puik-breakpoint-md: theme('screens.md');
  --puik-breakpoint-lg: theme('screens.lg');
  --puik-breakpoint-xl: theme('screens.xl');
  --puik-breakpoint-2xl: theme('screens.2xl');
}
