:root {
  --puik-spacing-1: theme('spacing.1');
  --puik-spacing-2: theme('spacing.2');
  --puik-spacing-3: theme('spacing.4');
  --puik-spacing-4: theme('spacing.6');
  --puik-spacing-5: theme('spacing.8');
  --puik-spacing-6: theme('spacing.16');
  --puik-spacing-7: theme('spacing.24');
  --puik-spacing-8: theme('spacing.32');
}
