@font-face {
  font-family: 'Prestafont';
  src: url('@puik/theme/assets/Prestafont-Regular.woff2') format('woff2');
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Round');
